body > footer {
  background-color: $dark-grey;
  padding: 50px 0;
  color: white;
  font-family: $serif;

  .inner {
    max-width: 72rem;
  }

  .tagline {
    display: block;
    margin: 0 auto 3rem;
    max-width: 60%;
  }

  form {
    position: relative;
    margin: 2rem 0;
    padding: 0;
    overflow: hidden;

    label {
      position: absolute;
      top: 20px;
      left: 0;
      color: #E0BF55;
      opacity: 1;
      transition: opacity .5s ease;
      pointer-events: none;

      &.hidden {
        opacity: 0;
      }
    }

    input {
      float: left;
      width: calc(90% - 18px);
      margin-right: 18px;
      margin: 0;
      padding: 20px 0;
      border: none;
      border-top: 3px solid transparent;
      border-bottom: 3px solid #4E4B4C;
      background: transparent;
      color: white;
      box-sizing: border-box;
      font-size: 1em;
      font-family: $serif;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 10%;
      float: right;
      background: transparent;
      border: 3px solid #4E4B4C;
      color: white;
      margin: 0;
      padding: 20px 0;
      box-sizing: border-box;
      font-size: 1em;
      font-family: $serif;
    }
  }
}