body > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 4rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  color: white;

  ul {
    padding: 1rem 0 0;
    overflow: visible;
  }

  li {
    list-style: none;
    float: left;
    margin: 0 1rem;
    font-family: $serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    overflow: visible;
    position: relative;
    text-shadow: 1px 1px 2px $dark-grey;
    cursor: pointer;
  }

  li:nth-last-child(-n+3) {
    float: right;
  }

  @include mobile {
    li:nth-child(2),
    li:nth-last-child(-n+2) {
      display: none;
    }
  }

  .icon {
    padding-left: 2.25rem;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2em;
      margin-bottom: -1rem;
    }
  }

  .menu {
    padding-left: 3rem;
    @include elegant-icon('menu');

    &:before {
      font-size: 3em;
    }
  }
  .search {
    @include elegant-icon('search');

    &:before {
      transform: translateY(-50%) scale(-1, 1);
      text-shadow: -1px -1px 2px $dark-grey;
    }

    span.label {
      display: inline-block;
      opacity: 1;
    }

    form {
      position: absolute;
      display: none;
      opacity: 0;
      left: 2.25em;
      top: 50%;
      transform: translateY(-50%);
      width: 30em;
      margin: 0;
      padding: 0;
      transition: opacity .5s ease;
    }

    label {
      position: absolute;
      left: 0;
      top: 0;
      padding: 5px;
      color: white;
      opacity: 0.5;
      transition: opacity .5s ease;
      pointer-events: none;

      &.hidden {
        opacity: 0;
      }
    }

    .search-term {
      float: left;
      font-size: 1rem;
      margin: 0;
      padding: 5px;
      background: transparent;
      color: white;
      font-weight: 300;
      border: none;
      border-bottom: 1px solid white;
      width: 20em;
      font-family: $sans;

      &:focus {
        outline: none;
      }
    }

    button {
      float: left;
      margin: 0;
      background: white;
      color: black;
      font-family: $serif;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      padding: 8px 10px 7px;
    }

    &[data-search-active] {
      span.label {
        opacity: 0.01;
      }
      form {
        display: block;
        opacity: 1;
      }
    }
  }
  .checkout {
    padding-left: 0;
    padding-right: 2.25rem;

    @include elegant-icon(bag);

    &:before {
      left: auto;
      right: 0;
      font-size: 2em;
      transform: translateY(-65%);
    }

    .items {
      position: absolute;
      right: 0.7em;
      top: 0;
      color: black;
      font-weight: bold;
      text-shadow: none;
    }
  }
}