section.hero {
  position: relative;
  z-index: 1;
  height: 0;
  padding-top: 56.25%;
  background-color: #75775B;

  & > .item {
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: opacity .75s .1s ease;

    &.current {
      z-index: 2;
      opacity: 1;
      transition: opacity .75s 0 ease;
    }

    & > img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }

    & > .content {
      width: 90%;
      max-width: 35rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      color: #F4F0F0;
      font-family: $sans;
      font-weight: 100;
      text-decoration: none;

      @include mobile {
        font-size: 1.25rem;
      }

      &.dark {
        color: $dark-grey;
      }

      @include tablet {
        width: 66%;
      }

      @include desktop {
        width: 50%;
      }

      & > span {
        display: block;

        &:first-child {
          text-align: left;
        }

        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(3) {
          text-align: right;
          font-size: 2em;
        }
      }
    }
  }

  & > .progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #E1C04B;
    z-index: 3;
  }

  & > .item-links {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 90rem;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 3;
    overflow: visible;

    @include not-mobile {
      width: 90%;
    }

    @include mobile {
      bottom: 1rem;
    }

    li {
      list-style: none;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 4px;
      border-radius: 9px;
      background-color: white;
      font-size: 1px;
      text-indent: -10rem;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 1px 1px 2px $dark-grey;

      &.active {
        border: 4px solid white;
        background-color: transparent;
        margin-bottom: -4px;
      }
    }
  }
}