// Font stacks
$sans: 'Roboto', Arial, Helvetica, sans-serif;
$serif: 'Roboto Slab', Georgia, serif;

// Colours
$bg-grey: #F5F1F1;
$dark-grey: #322E2E;

// Breakpoints
$mobile-cutoff-width: 30rem;
$tablet-width: 48rem;
$desktop-width: 64rem;