body {
  font-size: 16px;
  background-color: $bg-grey;
  margin: 0;
  padding: 0;
}

body > header,
body > footer,
body > section {
  width: 100%;

  .inner {
    width: 95%;
    max-width: 90rem;
    margin: 0 auto;

    @include not-mobile {
      width: 90%;
    }
  }
}