// media queries
@mixin mobile {
  @media (max-width: #{$mobile-cutoff-width}) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: #{$mobile-cutoff-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}