<footer data-module="footer">
  <div class="inner">
    <img src="images/footer-tagline.png" alt="Its not just paint, its personal" class="tagline">
    <p>Subscribe to receive our offers, tips &amp; inspiration</p>
    <form>
      <label for="footer-newsletter-email">Enter your email</label>
      <input type="text" name="footer-newsletter-email" id="footer-newsletter-email" class="newsletter-email">
      <button type="submit">Go</button>
    </form>
  </div>
</footer>