<header>
  <ul class="inner">
    <li class="icon menu">Menu</li>
    <li class="icon search" data-module="globalsearch">
      <span class="label">Search</span>
      <form>
        <label for="header-search-term">Search for your perfect colour</label>
        <input type="text" name="search-term" id="header-search-term" class="search-term">
        <button type="submit">Go</button>
      </form>
    </li>
    <li class="icon checkout">Checkout <span class="items">0</span></li>
    <li>Sign In</li>
    <li>Wishlist</li>
  </ul>
</header>