<section class="hero" data-module="hero">
  <div class="item current">
    <img src="images/hero1.jpg" alt="hero image">
    <a class="content" href="#">
      <span>All sample pots</span>
      <span>come with</span>
      <span>free delivery</span>
    </a>
  </div>
  <div class="item">
    <img src="images/hero2.jpg" alt="hero image">
    <a class="content" href="#">
      <span>This is another</span>
      <span>hero tagline</span>
    </a>
  </div>
  <div class="item">
    <img src="images/hero3.jpg" alt="hero image">
    <a class="content" href="#">
      <span>All sample pots</span>
      <span>come with</span>
      <span>free delivery</span>
    </a>
  </div>
  <div class="item">
    <img src="images/hero4.jpg" alt="hero image">
    <a class="content dark" href="#">
      <span>There&rsquo;s more to paint</span>
      <span>than you know,</span>
      <span>you know</span>
    </a>
  </div>
  <div class="item">
    <img src="images/hero5.jpg" alt="hero image">
    <a class="content dark" href="#">
      <span>These hero headlines</span>
      <span>are pretty dope</span>
      <span>don&rsquo;t you think?</span>
    </a>
  </div>
</section>